body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}
.container {
    border: 3px solid black;
    width: 60%;
    height: 400px;
}
h1 {
    text-align: center;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}